.parallax {
    background-image: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1801/Black-style-girl-art-photography_3840x2160.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: no-repeat;
    background-size: cover;
}

.text-um {
    color: rgba(179, 179, 179, 0.438);
}

.text-titulo {
    color: rgba(255, 255, 255, 0.63);
}

.transp {
    min-height: 300px;
    margin-left: 550px;
}

.img {
    height:200px; 
    width: 200px;
	display:block;
}

.margem {
    margin-bottom: 100px;
    margin-top: 100px;
}

.rosa {
    background-color: rgba(187, 187, 187, 0.438);
}