<div>
    <div class="parallax"></div>

    <div class='parallax mt-0'>
        <div class="container-fluid w-100 transp">
            <div class="row w-100">
                <div class="col-md-12">
                    <h1 class="text-titulo text-center mt-3 ">não mercantilize meu amor próprio</h1>
                </div>
                <div class="col-md-12">
                    <h5 class="text-um text-monocrome text-center mt-3 ">moda e feminismo</h5>
                </div>
            </div>
            <div class="row w-100 mt-4 mb-4">
            </div>
            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button class="btn btn-outline-dark text-uppercase font-weight-bold mb-4" routerLink="/feed">Ver o
                    feed</button>
            </div>
        </div>
        <div class="parallax"></div>
    </div>

    <div class='container margem'>
        <div class="row">
            <div class="col-md-3">
                <img src="https://i.pinimg.com/736x/db/ba/69/dbba694e077a2d6e4787f07fb755ba3e.jpg"
                    class="img rounded-circle" alt="Imagem responsiva">
            </div>
            <div class="col-md-3">
                <img src="https://i.pinimg.com/736x/e3/79/03/e37903f3003a37fb90a5ee098ddbe59d.jpg"
                    class="img rounded-circle" alt="Imagem responsiva">
            </div>
            <div class="col-md-3">
                <img src="https://i.pinimg.com/736x/5f/85/59/5f855992a734ea18a9bc7a194925fec2.jpg"
                    class="img rounded-circle" alt="Imagem responsiva">
            </div>
            <div class="col-md-3">
                <img src="https://i.pinimg.com/236x/52/29/6c/52296cf72783118a06526bca08d0b4de.jpg"
                    class="img rounded-circle" alt="Imagem responsiva">
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid rosa mb-5">
        <div class="container">
            <h1 class="display-4">Arte e natureza</h1>
            <p class="lead">Eu tenho a natureza, a arte e a poesia, e se isso não for o suficiente, o que é? (Van Gogh)
            </p>
        </div>
    </div>

    <div class="container">
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" src="https://i.pinimg.com/564x/10/59/07/105907bead8992d3aeba4a543c405637.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lugar de mulher é onde ela quiser e se sentir bem.
                        Lugar de mulher não é onde você quer.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Juliane Rodrigues <cite title="Título da fonte"></cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://i.pinimg.com/564x/79/34/88/793488e040ff78c758ea2a936f00125a.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lute!</h5>
                    <p class="card-text">Não vamos avançar se metade de nós é mantida para trás.</p>
                    <p class="card-text"><small class="text-muted">Malala Yusafzai</small></p>
                </div>
            </div>
            <div class="card bg-dark text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <p>As mulheres têm sido sempre as mais fortes do mundo.</p>
                    <footer class="blockquote-footer">
                        <small>
                            Coco Chanel <cite title="Título da fonte"></cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">um abraço, um choro</h5>
                    <p class="card-text">Sou uma mulher de têmpera forte. Mas, mesmo os fortes, às vezes precisam de um abraço... e chorar está longe de ser uma fraqueza..</p>
                    <p class="card-text"><small class="text-muted">Jane Silva</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="https://i.pinimg.com/564x/06/f2/0e/06f20e7e80005cb64b8efb929e993ced.jpg" alt="Imagem do card">
            </div>
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Nenhum país pode desabroxar de verdade se ele poda o potencial das suas mulheres e se priva das contribuições de metade da sua população.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Michelle Obama <cite title="Título da fonte"></cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">igualdade</h5>
                    <p class="card-text">A ideia de ser feminista – muitas mulheres tiveram que lidar com a noção de que isso significa ser contra os homens e não poder se relacionar com o sexo oposto -, mas o que o feminismo defende mesmo é a igualdade e os direitos humanos.</p>
                    <p class="card-text"><small class="text-muted">Lena Dunham</small></p>
                </div>
                <div class="card">
                    <img class="card-img" src="https://i.pinimg.com/564x/9e/d1/f4/9ed1f408a2ce3f1277554f08c650fbe7.jpg" alt="Imagem do card">
                </div>    
            </div>
            <div class="card">
                <img class="card-img-top" src="https://i.pinimg.com/564x/ac/3c/d7/ac3cd7f9ce3158eb7ecf7749a0744940.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Mão, cheia de dedo</h5>
                    <p class="card-text">Mão, cheia de dedo
                        Dedo, cheio de unha suja
                        E pra cima de mim? Pra cima de moi? Jamé, mané!
                        
                        Cê vai se arrepender de levantar a mão pra mim.</p>
                    <p class="card-text"><small class="text-muted">Elza Soares</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://i.pinimg.com/564x/f1/36/68/f13668fc9b84de3c7e65bc78c746e64c.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card bg-dark text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <p>Dentro de nós é forte o medo da liberdade.</p>
                    <footer class="blockquote-footer">
                        <small>
                            Germaine Greer <cite title="Título da fonte"></cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Não aceito mais as coisas que não posso mudar, estou mudando as coisas que não posso aceitar.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Angela Davis <cite title="Título da fonte"></cite>
                        </small>
                    </footer>
                </blockquote>
            </div>

        </div>
    </div>

</div>