<div class="card border-0 transp" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="https://i.pinimg.com/originals/27/f0/55/27f0554da54700e137b9de87a39d1382.jpg" 
        class="card-img-top rounded-circle w-75" 
        alt="Imagem de capa de card">
    </div>
    
    <div class="card-body mt-3">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora fullstack</p>
      
      <a href="https://www.linkedin.com/in/luanenandes/" 
      class="btn btn-outline-secondary mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/Luanefernandes" 
      class="btn btn-outline-secondary mb-3 d-flex justify-content-center" target="_blank">GitHub</a>


    </div>
  </div>