<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="https://avatars1.githubusercontent.com/u/65264021?s=400&u=4cb9e4c5cc5f66ac4b3e6cd0958eb1db6507d3b5&v=4" 
        class="card-img-top rounded-circle w-75" 
        alt="Imagem de capa de card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Luane</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora fullstack</p>
      
      <a href="https://www.linkedin.com/in/luanenandes/" 
      class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/Luanefernandes" 
      class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">GitHub</a>


    </div>
  </div>